<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="style1.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% load static %}
    <!-- Link to the static CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/home.css' %}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <!-- Use static tag for the logo -->
            <img src="{% static 'users/logo5.png' %}" class="logo" alt="NutriWise Logo">
          
        </div>
        <div class="content">
            <h>Hello! Welcome to NutriWise</h>
            <p>NutriWise: Your Smart Food Companion for Effortless Nutrition Tracking<br>"Snap, Log, and Transform Your Meals into Healthier Choices!"</p>
            <div>
                <!-- Buttons linking to login and register pages -->
              <a href="{% url 'users:login' %}">
    <button type="button"><span></span>
        LOG IN
    </button>
</a>
<a href="{% url 'users:register' %}">
    <button type="button"><span></span>
        REGISTER
    </button>
</a>

            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="contaiiner grid-four-column">
            <div class="f-about">
                <h1>About</h1>
                <p>At NutriWise, we're passionate about empowering healthier lifestyles through technology.<br> Our mission is to simplify nutrition tracking and help you make informed food choices effortlessly.</p>
            </div>
            <div class="f-links">
                <h2>Links</h2>
                <ul>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
            <div class="f-services">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Food Recognition</a></li>
                    <li><a href="#">Nutritional Analysis</a></li>
                    <li><a href="#">Meal Logging</a></li>
                    <li><a href="#">Calorie Tracking</a></li>
                    <li><a href="#">Goal Setting</a></li>
                </ul>
            </div>
            <div class="f-address">
                <h4>Have Questions?</h4>
                <address>
                    <p><ion-icon name="location-outline"></ion-icon> Pune, India</p>
                    <p><ion-icon name="call-outline"></ion-icon> <a href="tel:+919654548227">+91 9654548229</a></p>
                    <p><ion-icon name="mail-outline"></ion-icon> <a href="mailto:nutriwise756@gmail.com">nutriwise756@gmail.com</a></p>
                </address>
            </div>
        </div>
        <div class="f-social-icons">
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-youtube"></ion-icon>
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-facebook"></ion-icon>
        </div>
        <div class="f-credits">
            <p>© 2024 NutriWise. All rights reserved.</p>
        </div>
    </footer>
    
</body>
</html>