<!DOCTYPE html>
<html lang="en">
<head>
    {% load custom_filters %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Analyze Food Image</title>
    <link rel="stylesheet" href="{% static 'nutriwise/upload_image.css' %}">
    
</head>
<body>
    
    <h1>Upload and Analyze Food Image</h1>
    <div>
        <a  href="http://127.0.0.1:8000/nutriwise/" class="nutriwise-button">Go to Nutriwise</a>
    </div>
    
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="food_image">Upload Food Image:</label>
    <input type="file" id="food_image" name="food_image" required>
            
            <button type="submit">Upload Image</button>
        </form>
    </div>

    <!--{% if food_details and food_details.name != 'Unknown' %}-->
    <div class="analysis-result">
        <h3>Food Analysis Result</h3>
        <ul>
            {% load custom_filters %}
            <li><strong>Name:</strong> {{ food_details.name|replace_underscore:" " }}</li>
            <li><strong>Confidence:</strong> {{ food_details.confidence|default:"N/A" }}</li>
            <li><strong>Carbs:</strong> {{ food_details.carbs|default:"N/A" }} </li>
            <li><strong>Fats:</strong> {{ food_details.fats|default:"N/A" }} </li>
            <li><strong>Fiber:</strong> {{ food_details.fiber|default:"N/A" }} </li>
            <li><strong>Sugar:</strong> {{ food_details.sugar|default:"N/A" }} </li>
            <li><strong>Calories:</strong> {{ food_details.calories|default:"N/A" }} </li>
            <li><strong>Proteins:</strong> {{ food_details.protein|default:"N/A" }} </li>
            <li><strong>Sodium:</strong> {{ food_details.sodium|default:"N/A" }} </li>
            <li><strong>Potassium:</strong> {{ food_details.potassium|default:"N/A" }} </li>
            <li><strong>Cholesterol:</strong> {{ food_details.cholesterol|default:"N/A" }} </li>
        </ul>
    </div>
    

   
    </div>
    {% else %}
    <div class="analysis-result">
        <h3>No Analysis Data Available</h3>
        <p>Please upload a valid image to receive food analysis details.</p>
    </div>
    {% endif %}

</body>
</html>